@font-face {
  font-family: PragmataPro;
  src: url('Essential PragmataPro.ttf');
}

@font-face {
  font-family: PragmataPro;
  src: url('Essential PragmataPro Bold.ttf');
  font-weight: bold;
}

body {
  background-color: #000;
  color: #eee;
  font-family: PragmataPro;
  cursor: initial;
}

p {
  margin: 0;
  white-space: pre;
  font-size: 13px;
}

p:hover {
  background-color: #444;
}

a {
  color: #eee;
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  font-weight: bold;
}

#module {
  margin: 0 auto;
  padding: 0 50px;
}

.symbol {
  color: #f8cb13;
}

.keyword {
  color: #0af;
  font-weight: bold;
}

.string {
  color: #ccc;
}

.name {
  background-color: #333;
  color:#eee;
  font-weight: bold;
}
