/*****************************************************
*	Designed and programmed by Mohamed Adam Chaieb.
*****************************************************/

body {
	margin: 5% auto 0 auto;
	width: 90%;
	font-family: 'Press Start 2P';
	background-color: #383838;
}

.button {
	position: relative;
	font-family: 'VT323';
	display:block;
	width: 200px;
	padding: 5px;
	background-color: #000;
	text-decoration: none;
	color: white;
	text-align: center;
	font-size: 45px;
	border-style: solid;
	border-width: 2px;
	border-bottom-width: 5px;
	border-radius: 5px;
	border-color: white;
}

.button:HOVER {
	color: #26ff00;
	top: 3px;
	border-bottom-width: 2px;
	cursor: default;
}

@-webkit-keyframes typing {
    from { width: 0 }
    to { width:35em }
}

@-moz-keyframes typing {
    from { width: 0 }
    to { width:35em }
}

@-webkit-keyframes typing2 {
    from { width: 0 }
    to { width:400px }
}

@-moz-keyframes typing2 {
    from { width: 0 }
    to { width:400px }
}

@-webkit-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #26ff00 }
}

@-moz-keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: #26ff00 }
}

#greeting { 
    font-size: 28px;
    width: 34em;
    padding: 20px 0 0 0;
    white-space:nowrap;
    overflow:hidden;
    margin: 20% auto 50px 0;
    color: white;
    border-right: 1em solid #26ff00;
    
    -webkit-animation: typing 2s steps(34, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing 2s steps(34, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
}

#profile {
	display: none;
	height: 350px;
	width: 350px;
	border-radius: 175px;
	-webkit-border-radius: 175px;
	-moz-border-radius: 175px;
	margin: 0 auto 0 auto;
}

#name {
	font-size: 34px;
 	display: none;
    color: white;
    width: 100%;
    text-align: center;
    cursor: default;
}

#head {
	font-size: 18px;
	width: 400px;
	margin: 0 auto 0 auto;
	border-right: 1em solid #26ff00;
	overflow: hidden;
	white-space: nowrap;
	color: white;
	padding-top: 10px;
	cursor: default;
	-webkit-animation: typing2 2s steps(22, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
    -moz-animation: typing2 2s steps(22, end), /* # of steps = # of characters */
                        blink-caret 1s step-end infinite;
}

#bar {
	display: none;
	width: 300px;
	margin: 40px auto 0 auto;
}

#bar a {
	color: white;
	width:100px;
	text-align: center;
	display:inline-block;
	cursor: default;
}

i {
	color: white;
}

i:HOVER {
	color: #26ff00;
}